.top-left-cell {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.top-right-cell {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 0;
}

.bottom-left-cell {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.bottom-right-cell {
    border-top: 1px solid #000;
    border-bottom: 0;
    border-left: 1px solid #000;
}

@media screen and (max-width: 767px) {
    .top-left-cell {
        border-right: 0;
    }
    .top-right-cell {
        border-top: 1px solid #000;
        border-left: 0;
    }
    .bottom-right-cell {
        border-left: 0;
        border-bottom: 1px solid #000;
    }
    .bottom-left-cell {
        border-top: 1px solid #000;
        border-right: 0;
    }

    footer {
        visibility: hidden;
    }
}